<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    


    <form action="/products/<%= product._id %>?_method=PATCH" method="post" style="width: 600px;">
        <div class="mb-3">
            <label for="name" class="form-label">Product name</label>
            <input type="text" id="name" name="name" class="form-control" value="<%= product.name %>">
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Image url</label>
            <input type="text" id="image" name="image" class="form-control" value="<%= product.image %>">
        </div>
        
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">$</span>
                <input type="number" id="price" name="price" class="form-control" value="<%= product.price %>">
            </div>
        </div>
       
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <textarea id="desc" name="desc" class="form-control" cols="30" rows="5"><%= product.desc %></textarea>
        </div>
       
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>